/*Stylings for Landing Page*/

/* CSS reset*/
/* eliminates issues with certain browsers by setting certain settings to default*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*Main Container*/
.mContainer{
    display:flex;
    background-color: lightgray;
    padding: 10px;
}

/*Additional containers*/
.naviContainer{
    display: flex;
    background-color: gray;
    padding: 5px;
    padding-right: 20px;
}

.headContainer{
    display: flex;
    padding-left: 30px;

}

.artContainer{
    display: flex;
    background-color: lightgray;
    width: 85%;
    height: 375px;
    
    justify-content: space-between;
}

.fullArtContainer{
    display: flex;
    height: 800px;
    padding-left: 65px;
    border: black solid 5px;
    width:85%;
}

/*Headers*/
#h1 {
    font-size: 80px;
    color: black;
    text-align:left;
    background-color: teal;
}

#h3{
    color: black;
    font-size: 45px;
    text-align: left;
    padding: 5px;
}


#h2{
    font-size: 80px;
    text-align: center;
}

#h4{
    font-size: 65px;
    text-align: left;
}
/* Articles*/
#art{
    font-size: 30Px;
    color: indigo;
    text-align: center;
    padding-left: 5px;
    border: black solid 5px;
    width: 45%;
}
#art3{ font-size: 30Px;
    color: indigo;
    text-align: center;
    padding-left: 5px;
    border: black solid 5px;
    width: 45%;
}
#art4{ font-size: 30Px;
    color: indigo;
    text-align: center;
    padding-left: 5px;
    border: black solid 5px;
    width: 45%;
}
#art3{ font-size: 30Px;
    color: indigo;
    text-align: center;
    padding-left: 5px;
    border: black solid 5px;
    width: 45%;
}
/*Footer*/
#ft{
    font-size: 25px;
    text-align: center;
    background-color: teal;
}