/*Stylings for web project*/

/* CSS reset*/
/* eliminates issues with certain browsers by setting certain settings to default*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*      Main Container      */
.mContainer{
    display:flex;
    background-color: silver;
    padding: 10px;
    text-align:  center;
    
}

/*              site-wide Header           */

.headContainer{
    display: flex;
    

}

#h1 {
    font-family: sans-serif;
    font-style: italic;
    font-size: 80px;
    color: black;
    text-align:left;
    background-color: teal;
    padding-left: 5px;
}

 /*             Landing page stylings             */
 .artContainer{
    display: flex;
    background: silver;
    width: 90%;
    height: 375px;
    justify-content: space-between;
}

#h3{
    color: black;
    font-size: 45px;
    text-align: right;
    padding: 1px;
    text-decoration: underline;
    font-family: sans-serif;
}

#art{
    font-size: 30Px;
    color: indigo;
    text-align: center;
    padding-left: 5px;
    border: black solid 5px;
    width: 45%;
}

/*          Article page  stylings        */
.fullArtContainer{
    display: flex;
    height: 800px;
    padding-left: 65px;
    border: black solid 5px;
    width:85%;
    flex-direction: column;
}

#h2{
    font-size: 80px;
    text-align: center;
    font-family: sans-serif;
    
}

#h4{
    font-size: 40px;
    text-align: right;
    font-family: sans-serif;
    border-bottom: black solid 2px;
    
}

#fullArt{
    font-family: sans-serif;
    text-align: center;
}


/*                sitewide navigation             */
.naviContainer{
    display: flex;
    background-color:black;
    padding: 5px;
    
    border: black solid 5px;
    text-decoration: none;
    width: 100%;
}

#navi{
    color:teal;
    font-size: 25px;
    
    text-decoration: none;
    font-family: sans-serif;
}

#navibar{
    background-color: teal;
    text-decoration: none;
}

/*               Footer                 */
.ftContainer{
    background-color: teal;
}

#ft{
    font-size: 15px;
    padding-left: 325px; /* Not sure why it wouldn't center the text; this works though*/
    background-color: teal;
    font-family: sans-serif;
    
    font-style: italic;   
}