/*Stylings for Landing Page*/

/* CSS reset*/
/* eliminates issues with certain browsers setting certain setting to default*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*Main Container*/
.mContainer{
display:flex;
background-color: dimgrey;
padding: 10px;
align-items: flex-end;
}

.naviContainer{
display: flex;
background-color: gray;
padding: 5px;


}
/*Headers*/
#h1 {
    font-size: 80px;
    color: black;
    text-align:left;
    background-color: teal;

}


/*Footer*/
#ft{
    font-size: 25px;
    text-align: center;
}