/* Styles for the homepage */

/* CSS reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* MOBILE CONTAINER */
  


/* Master container 
.container{
display: grid;
background-color: lightgray;
border: olive 10px;
margin-top: 0px;

}*/


.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    border:black solid 5px;
    padding: 10px;

}

/* Headers */
.heads{
    font-style: italic;
    color: olivedrab; 
     grid-area: hd;
}

#h1{
    font-size: 78px;
    text-align: center;
    
    
    
}
#h2{
    font-size: 35px;
    text-align: center;
    

}


/* Navigation */
#h3{
    color: black;
    font-size: 25px;
    text-align: center;
     
    padding-bottom: 30px;
}

.navbox{
    font-size: 20px;
    text-align: left;
    columns: 120px 1;
    padding-bottom: 20px;
    background: olivedrab;
    

}

#nav{

    grid-area: nav;
    border:3px solid black;
}
    



/* Main Article */
#mainart{
font-size: 35px;
color: rgb(62, 36, 87);
grid-area: ma;

}

#h4{
    font-size: 40px;
    text-align:center;
    color: black;
    grid-area: hdm;
 }

/* Footer Stylings */
#ft{
    font-size: 20px;
    background: rgb(110, 35, 35);
    text-align: center;
    grid-area: ft;
}



/* Master Container */
.container{
    display: grid;
    width: 100%;
    grid-template-columns: 250px 1100px ;
    grid-template-rows: 155px repeat(2, 1fr) 250px 40px;
    grid-template-areas: 
    "hd hd hd hd hd"
    "nav hdm hdm hdm hdm"
    "nav ma ma ma ma"
    "nav ma ma ma ma"
    "ft ft ft ft ft";
   color:blue;
}