/* Styles for the homepage */

/* CSS reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Main Box */
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    border:black solid 5px;
    padding: 10px;

}

/* Headers */
.heads{
    font-style: italic;
    color: olivedrab; 
     grid-area: hd;
    
}

#h1{
    font-size: 78px;
    text-align: justify;
    
    
    
}
#h2{
    font-size: 35px;
    text-align: center;
    

}


/* Navigation */
#h3{
    color: black;
    font-size: 25px;
    text-align: center;
    padding-bottom: 30px;
}

.navbox{
    font-size: 20px;
    text-align: left;
    columns: 120px 1;
    padding-bottom: 20px;
    background:rgb(150, 28, 38);
    
    

}

#nav{

    grid-area: nav;
    border:3px solid black;
   padding: 15px;
    
}
    
.button{
    color: lightgrey;
    border: 3px solid black;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 20PX;
  


}


/* Main Article */
#mainart{
font-size: 35px;
color: rgb(62, 36, 87);
grid-area: ma;
text-align: justify;
padding: 20px;

}

#h4{
    font-size: 40px;
    text-align:center;
    color: black;
    grid-area: hdm;
 }

/* Footer Stylings */
#ft{
    font-size: 20px;
    background: maroon;
    text-align: center;
    grid-area: ft;
}



/* Master Container */
.container{
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1000px ;
    grid-template-rows: 155px repeat(2, 1fr) 250px 40px;
    grid-template-areas: 
    "hd hd hd hd hd"
    "nav hdm hdm hdm hdm"
    "nav ma ma ma ma"
    "nav ma ma ma ma"
    "ft ft ft ft ft";
   background: lightgray;}