/*Styles for the homepage*/











/* Master container */
.container{
background-color: lightgray;
}


.box{
    background: lightgrey;
    border: red 5px;
    padding: 5px;

}

/* Headers */
.heads{
    font-style: italic;
    color: olivedrab; 
    
}

#h1{
    font-size: 78px;
    text-align: center;
}
#h2{
    font-size: 35px;
    text-align: center;
}
#h3{
    font-size: 25px;
    text-align: left;
}
 #h4{
    font-size: 65px;
    text-align:center;
 }

/* Navigation */
.box .navbox{
    font-size: 45px;
    text-align: left;

    
}
#nav1{

}

#nav2{

}

#nav3{
    
}


/* Main Article */
#mainart{
font-size: 35px;
color: blueviolet;


}