/*Styles for the homepage*/



/* CSS reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}




/* Master container */
.container{
background-color: lightgray;
border: olive 10px;
margin-top: 0px;

}


.box{
    background: lightgrey;
    border:black solid 5px;
    padding: 10px;

}

/* Headers */
.heads{
    font-style: italic;
    color: olivedrab; 
    
}

#h1{
    font-size: 78px;
    text-align: center;
}
#h2{
    font-size: 35px;
    text-align: center;
}

 #h4{
    font-size: 65px;
    text-align:center;
 }

/* Navigation */
#h3{
    font-size: 25px;
    text-align: left;
    border: 2px olive; 
}

.navbox{
    font-size: 20px;
    text-align: left;
    width: 80px;
    padding-bottom: 20px;
    padding-top: 10px;

    
}
#nav1{ nav-down: auto;

}

#nav2{

}

#nav3{
    
}


/* Main Article */
#mainart{
font-size: 35px;
color: blueviolet;


}

/* Footer Stylings */
#ft{
    font-size: 20px;
    background: rgb(110, 35, 35);
    text-align: center;

    

}